#weather_card {
    display: flex;
    flex-flow: row;
    text-align: center;
    width: min-content;
}

#weather_img {

    filter: drop-shadow(0 0 0.75em rgba(17, 12, 46, 0.15));
    width: 100px;
}

#weather_text {
    font-size: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;

}