@font-face {
  font-family: "Syne";
  src: url('./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Syne', monospace;
  font-size: xx-large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0e0;
  color: #444;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 1% 0 1% 0;
  margin: 0 0 10% 0;
}

section {
  height: 100vh;
  padding: 10% 0;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover, a:active{
  text-decoration: underline;
}

.menu_option:hover {
  text-decoration: none;
  transform: scale(1.05);
}

#clock {
  font-size: 20px;
}
@media (min-width: 768px){
  body {
    padding: 0 10%;
  }
  #scroll_button {
    transform: rotate(-0.25turn);
    position: fixed;
    bottom: 100px;
    right: 18px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background: unset;
    color: #444;
    cursor: pointer;
  }
  .title {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px){
  body {
    padding: 10% 10%;
  }
  #scroll_button {
    transform: rotate(-0.25turn);
    position: fixed;
    bottom: 100px;
    right: -12%;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background: unset;
    color: #444;
    cursor: pointer;
  }

  .title {
    display: flex;
    flex-flow: column;
  }

}

div.logo {
  display: flex;
  width: 80px;
}

img.me {
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

ul{
  list-style-type:none;
  padding: 3px;
  margin: 3px;
}


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-align: right;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -325px;
  padding: 48px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(67%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}