@font-face {
  font-family: "Syne";
  src: url('./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Syne', monospace;
  font-size: xx-large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000f13;
  color: #ffffff;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 1% 0 1% 0;
  margin: 0 0 10% 0;
}

section {
  height: 100vh;
  padding: 10% 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover, a:active{
  text-decoration: underline;
}

.menu_option:hover {
  text-decoration: none;
  transform: scale(1.05);
}

#clock {
  font-size: 20px;
}
@media (min-width: 768px){
  body {
    padding: 0 10%;
  }
  #scroll_button {
    transform: rotate(-0.25turn);
    position: fixed;
    bottom: 100px;
    right: 18px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background: unset;
    color: #ffffff;
    cursor: pointer;
  }
  .title {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px){
  body {
    padding: 10% 10%;
  }
  #scroll_button {
    transform: rotate(-0.25turn);
    position: fixed;
    bottom: 100px;
    right: -12%;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background: unset;
    color: #ffffff;
    cursor: pointer;
  }

  .title {
    display: flex;
    flex-flow: column;
  }

}

div.logo {
  display: flex;
  width: 80px;
}

img.me {
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

ul{
  list-style-type:none;
  padding: 3px;
  margin: 3px;
}