@font-face {
    font-family: 'Syne';
    src: url('./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf')
        format('truetype');
}
:root {
    --main-bg-color: #ff6833;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: xx-large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    color: #000;
    height: 100%;
}

ul {
    list-style-type: none;
}

a.links {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    margin-right: 30px;
}

section#main {
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
    .bloc {
        width: 50%;
    }

    #section1,
    #section2,
    #section3,
    #section4 {
        top: 0;
        right: 0;
    }
    #section1 {
        padding: 10%;
        background: var(--main-bg-color); /*ff9e7b*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .button-nav {
        background: none;
        border: 3px solid black;
        border-radius: 10px;
        font-size: 25px;
        padding: 5px 10px;
        font-weight: bold;
    }

    .logo {
        object-fit: cover;
    }

    a.links:hover {
        transform: scale(2);
    }

    .button-nav:hover {
        background: black;
        color: var(--main-bg-color);
    }

    .toggle {
        display: none;
    }
}
